<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Author Index</title>
</head>
<body>
	<% @authors.each do |author| %>

		<div>
    	    Name: <a href="/authors/<%= author.id %>"><%= author.name %></a> 
		</div>

	<% end %>

	<%= form_for :author, url: "/authors", method: "post" do |f| %>

    <%= f.text_field :name %>
    <%= f.submit "save author" %>

	<% end %>
</body>
</html>